.logo {
  width: 500px;
}

.poke-picture {
  height: 120px;
}

.btn-primary {
  background-color: #356abd;
  border: none;
  color: #ffcd00;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2b5497;
  border: none;
  color: #ffcd00;
  font-weight: bold;
}

h1, h2, h3, h4 {
  color: #356abd;
}

.player-1 img {
  transform: scaleX(-1);
}


.progress {
  border: 2px solid #356abd;
  background-color: #ffcd00;
}

.progress-bar {
  background-color: #356abd;
}

.score {
  height: 30px;
  text-align: center;
}